<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/assets/images/image.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style/navbar.css" />
    <link rel="stylesheet" href="../../style/task/MyProject.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <title>My Project</title>
  </head>
  <body>
    <main>
     {{>navbar currenPage = 'myproject'}}
      <section class="section-one">
        <div class="container" id="addProject">
          <div class="content">
            <form class="form-input" action="/updateproject/{{data.id}}?_method=PATCH&image={{data.image}}" method="post">
              <h1>Edit My Project</h1>
              <!-- name  -->
              <div class="form-fields">
                <label for="name">Project Name</label>
                <input
                  class="form-input-fields"
                  type="text"
                  id="name"
                  name="name"
                  value="{{data.title}}"
                  placeholder="Masukkan Name.." />
              </div>
              <!-- end name  -->
              <!-- grid  -->
              <div class="grid-form">
                <!-- 1  -->
                <div>
                  <div class="form-fields">
                    <label for="startDate">Start Date</label>
                    <input
                      class="form-input-fields"
                      type="date"
                      id="startDate"
                      value="{{data.startDate}}"
                      name="startDate" />
                  </div>
                </div>
                <!-- end 1  -->
                <!-- 2  -->
                <div>
                  <div class="form-fields">
                    <label for="endDate">End Date</label>
                    <input
                      class="form-input-fields"
                      type="date"
                      id="endDate"
                      value="{{data.endDate}}"
                      name="endDate" />
                  </div>
                </div>
                <!-- end 2  -->
              </div>
              <!-- end grid  -->
              <!-- text area  -->
              <div class="form-fields">
                <label for="description">Description</label>
                <textarea
                  id="description"
                  name="description"
                  rows="5"
                  class="form-input-fields"
                  placeholder="Description">{{data.description}}</textarea>
              </div>
              <!-- end text area  -->
              <!-- teknologi  -->
              <label style="font-weight: bold">Technologies</label>
              <div class="grid-form">
                <div>
                  <input
                    type="checkbox"
                    id="nodejs"
                    name="nodejs"
                    value="NodeJs" {{#if node}} checked {{/if}}/>
                  <label for="nodejs"> Node Js</label>
                </div>
                <div>
                  <input
                    type="checkbox"
                    id="reactjs"
                    name="reactjs"
                    value="ReactJs"
                    {{#if react}} checked {{/if}}
                     />
                  <label for="reactjs"> React Js</label>
                </div>
                <div>
                  <input
                    type="checkbox"
                    id="nextjs"
                    name="nextjs"
                    value="NextJs"
                    {{#if next}} checked {{/if}}
                    />
                  <label for="nextjs">Next Js</label>
                </div>
                <div>
                  <input
                    type="checkbox"
                    id="typescript"
                    name="typescript"
                    value="TypeScript"
                    {{#if typescript}} checked {{/if}}
                    />
                  <label for="typescript"> typescript</label>
                </div>
              </div>
              <!-- Endteknologi  -->
              <!-- image  -->
              <div class="form-fields">
                <label for="">Upload Images</label>
                <img src="/assets/images/{{data.image}}" alt="{{data.image}}" style="max-width: 100px; border-radius:20px">
                <input
                  class="form-input-fields"
                  type="file"
                  hidden
                  id="upload-images"
                  name="images" />
                  {{!-- name="upload-images" /> --}}
                <label for="upload-images">
                  <div class="label-form-image">
                    <p class="label-p">Chose</p>
                    <img src="../../assets/images/attach.png" alt="" />
                  </div>
                </label>
              </div>
              <!-- end image  -->
              <!-- button  -->
              <div class="btn-group">
                <button onclick="alertEdit()" type="submit" class="btn-submit">submit Edit</button>
              </div>
              <!-- end button  -->
            </form>
          </div>
        </div>
      </section>
    </main>
    {{!-- <script src="/javascript/myproject.js"></script> --}}
    <script src="/javascript/navbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../javascript/alert.js"></script>
  </body>
</html>
