<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/assets/images/image.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style/navbar.css" />
    <link rel="stylesheet" href="../../style/task/MyProject.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <title>My Project</title>
  </head>
  <body>
    <main>
     {{>navbar currenPage = 'myproject'}}
      <section class="section-two" id="my-project">
        <h1>MY PROJECT</h1>
        <h1>
          <a
            href="addnewproject"
            style="
              text-decoration: none;
              border: 1px solid black;
              padding: 4px 10px;
              border-radius: 10px;
              background: cyan;
            "
            >+</a
          >
        </h1>
        <div class="content-two" id="listProject">
          {{#each data}}
          <div class="card">
            <img src="/assets/images/{{this.image}}" alt="{{this.image}}" class="img-hero" />
            <a
              href="/project-detail/{{this.id}}"
              style="text-decoration: none; color: black">
              <h2>{{this.title}}</h2>
            </a>
            <p>
              Durasi: {{duration this.startDate this.endDate}} Bulan | Papoy</p>
            <p>
              {{this.description}}
            </p>
            <p>{{this.technology}}</p>
            <div class="btn-section-two">
              <a href="/editProject/{{this.id}}?image={{this.image}}" class="btn-edit" style="text-align: center; text-decoration: none; padding-top: 10px">
                Edit
              </a>
              <button style="background-color: red; width: 50%; padding:10px; color:white; border-radius:10px" onclick="deleteAlert({{this.id}})">Delete</button>
              <form id="formDeletes" action="/deleteMyProject/{{this.id}}?_method=DELETE" method="POST" >
                <button id="deletes" hidden style="background-color: red; width: 50%; padding:10px; color:white; border-radius:10px">Delete</button>
              </form>

              </button>
            </div>
          </div>
          {{/each}}
        </div>
      </section>
    </main>
    {{!-- <script src="/javascript/myproject.js"></script> --}}
    <script src="/javascript/navbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../javascript/alert.js">
      
    </script>
  </body>
</html>
